.cart {
    width: 300px;
    height: 450px;
    background-color: white;
    position: relative;
    border: 0;
    border-radius: 0px;

    .favorite_btn {
        position: absolute;
        z-index: 1;
        top: 25px;
        right: 25px;
        border: 0px;
        padding: 4px 13px;
        border-radius: 20px;
        background-color: #272727;
        background-image: url('https://www.citypng.com/public/uploads/preview/-51611915675wmb5cgaf3d.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        cursor: pointer;
        width: 70px;
        height: 35px;
    }

    .favorite_btn:hover {
        transition: 0.4s;
        background-image: url('https://www.citypng.com/public/uploads/small/51611909014v8cbncefiunsjgxz6zahofjyedbx1jz20yngjomjktdobtraht1wrrocbcmo16t9rnxlax9js2pla6ssdoaz0zgn8ydjzrk15vbn.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .photo_of_card_div img {
        width: 100%;
        height: 180px;
        display: block;
    }

    .card_body {
        padding: 20px;
        width: 100%;
        height: 270px;
        position: relative;

        .btn_places {
            position: absolute;
            z-index: 4000;
            left: 20px;
            top: 20px;
            background-color: rgba(0, 0, 0, 0.05);
            color: rgba(0, 0, 0, 0.6);
            padding: 3px 12px;
            border-radius: 20px;
            font-weight: 300;
            width: 80px;
            height: 33px;
            border: 0;
            cursor: pointer;
        }

        .btn_places:hover {
            color: black;
            transition: 0.4s;
        }
        .title_in_card {
            max-width: 200px;
            position: absolute;
            top: 75px;
            left: 20px;
            text-align: left;
            text-decoration: none;
            color: #504840;
            font-size: 26px;
            line-height: 34px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }

        .hr {
            position: absolute;
            top: 170px;
            background-color: #504840;
            opacity: 0.2;
            width: 260px;
            height: 1px;
        }

        img {
            position: absolute;
            bottom: 50px;
            border-radius: 50px;
            left: 20px;
        }

        .author {
            text-decoration: none;
            position: absolute;
            bottom: 50px;
            left: 50px;
            color: #504840;
            font-size: 15px;
        }

        .month {
            position: absolute;
            bottom: 35px;
            right: 20px;
            color: #504840;
            font-size: 15px;
        }

        .date {
            position: absolute;
            bottom: 10px;
            left: 20px;
            color: #504840;
            font-size: 15px;
        }
    }
}
