.photo_of_card_div {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.photo_of_card_div img {
    width: 100%;
    display: block;
    transition: transform 0.9s;
}

.photo_of_card_div:hover img {
    transform: scale(1.3);
}
