.Adventures_Comp {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// __________________________________________________________________________________________________

@media (max-width: 900px) {
    .Adventures_Comp {
        width: 100%;
        flex-direction: column;
    }
}
