.AdventureITEM {
    width: 460px;
    height: 585px;
    position: relative;

    .favorite_btn {
        position: absolute;
        z-index: 4000;
        top: 25px;
        right: 25px;
        border: 0px;
        padding: 4px 13px;
        border-radius: 20px;
        background-color: #272727;
        background-image: url('https://www.citypng.com/public/uploads/preview/-51611915675wmb5cgaf3d.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        cursor: pointer;
        width: 70px;
        height: 35px;
        z-index: 2;
    }

    .favorite_btn:hover {
        transition: 0.4s;
        background-image: url('https://www.citypng.com/public/uploads/small/51611909014v8cbncefiunsjgxz6zahofjyedbx1jz20yngjomjktdobtraht1wrrocbcmo16t9rnxlax9js2pla6ssdoaz0zgn8ydjzrk15vbn.png');
        background-size: 30%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .card_body {
        position: relative;
        left: calc(50% - 350px / 2 - 0.5px);
        top: -40px;
        z-index: 3;
        width: 350px;
        height: 320px;
        display: block;
        background-color: #505b4e;

        a {
            visibility: visible;

            button {
                position: absolute;
                z-index: 4000;
                left: 20px;
                top: 20px;
                background-color: rgba(252, 252, 252, 0.05);
                color: rgba(241, 235, 235, 0.818);
                padding: 3px 12px;
                border-radius: 20px;
                font-weight: 300;
                max-width: 120px;
                max-height: 33px;
                border: 0;
                cursor: pointer;

                .link {
                    color: rgba(241, 235, 235, 0.818);
                    text-decoration: none;
                }
            }
            .link:hover {
                color: rgb(246, 246, 246);
                transition: 0.4s;
            }
        }

        .title_in_card {
            position: absolute;
            top: 75px;
            left: 20px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
            font-size: 26px;
            line-height: 34px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }

        p {
            position: absolute;
            top: 130px;
            left: 20px;
            font-size: 15px;
            line-height: 27px;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(255, 255, 255, 0.8);
            max-width: 300px;
        }

        .hr {
            position: absolute;
            top: 230px;
            left: 20px;
            background-color: #d6d2ce;
            opacity: 0.2;
            max-width: 310px;
            height: 1px;
        }

        img {
            position: absolute;
            top: 270px;
            left: 20px;
            border-radius: 50px;
            width: 24px;
            height: 24px;
        }

        .author {
            position: absolute;
            top: 270px;
            left: 50px;
            font-size: 15px;
            text-decoration: none;
            color: #ac8a62;
        }

        .month {
            position: absolute;
            top: 267px;
            left: 170px;
            font-size: 15px;
            text-decoration: none;
        }
    }
}

// __________________________________________________________________________________________________

@media (max-width: 900px) {
    .AdventureITEM {
        margin-bottom: 50px;
    }
}

@media (max-width: 900px) {
    .AdventureITEM {
        width: 100%;
        position: relative;
        left: calc(50% - 100% / 2 - 0.5px);

        .card_body {
            width: 90%;
            position: relative;
            left: calc(50% - 90% / 2 - 0.5px);
        }
    }
}
